/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
.carousel-caption {
  display: none;
}
}

.img-responsive-1{
  border-radius: 7px;
}

.img-responsive-2{
  border-radius: 7px;
}

.img-responsive-3{
  border-radius: 7px;
}

.business-plan-1 h3{
  background-color: #000;
  color: #fff;
  padding: 5%;
  border-radius: 3px;
}

.business-plan-2 h3{
  background-color: #880015;
  color: #fff;
  padding: 5%;
  border-radius: 3px;
}

.business-plan-3 h3{
  background-color: #ff7f27;
  color: #fff;
  padding: 5%;
  border-radius: 3px;
}

.well{
  background-color: #000;
  color: #fff;
}

.footer{
  background-color: #000;
  color: #fff;
  padding-top: 5%;
}

.footer a{
  background-color: #000;
  color: #fff;
  padding-top: 5%;
  text-decoration: none;
}

.footer p:hover{
  background-color: #fff;
  color: #000;
  padding: 5%;
  text-decoration: none;
}
